*.nii.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
~/Documents/neuroparc/atlases/label/** filter=lfs diff=lfs merge=lfs -text
/Users/ross/Documents/neuroparc/atlases/label/** filter=lfs diff=lfs merge=lfs -text
/Users/ross/Documents/neuroparc/atlases/label/Human/Old_json filter=lfs diff=lfs merge=lfs -text
/Users/ross/Documents/neuroparc/atlases/label/Human/Old_json/** filter=lfs diff=lfs merge=lfs -text
/Users/ross/Documents/neuroparc/atlases/label/**/* filter=lfs diff=lfs merge=lfs -text
/Users/ross/Documents/neuroparc/atlases/label/Human/Old_json/aal_space-MNI152NLin6_res-1x1x1_updated.json filter=lfs diff=lfs merge=lfs -text
. filter=lfs diff=lfs merge=lfs -text
